@import '../../scss/colors.scss';
@import '../../scss/globals';

.kbl-table2 {

  overflow: hidden;
  border-radius: $border-radius;
  box-shadow: 0 .0925rem .165rem rgba(0, 0, 0, 0.19);
  border: none;


  .kbl-thead2 {
    background: $palette-2;
    border-bottom: 1px solid $color-light-grey;
    color: white;

    .human {
      background: $palette-2-dark;
    }

    .bottom {
      background: $palette-2-light;
      color: $text-main;
    }
  }

  tr {
    border-bottom: 1px solid $color-light-grey;

    &:last-child {
      border-bottom: none!important;
    }
  }
  .tds{
    word-break: break-all;
  padding: 10px;
  text-align: justify;
  border-top: 1px solid black;
  }
}



.fastas {
  word-break: break-all;
  padding: 10px;
  text-align: justify;
  border-top: 1px solid black;
  text-align: left;
}

.ant-btn-second {
  color: #fff;
  border-color: #0d8f5d;
  background: #0d8f5d;
  text-shadow: 0 -1px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 0 rgba(0,0,0,.045);
}
