@import '../../scss/colors.scss';
@import '../../scss/globals';



.tds{
    word-break: break-all;
  padding: 10px;
  text-align: justify;
  border-top: 1px solid black;


  }


  .kbl-table {
    
    overflow: hidden;
    border-radius: $border-radius;
    box-shadow: 0 .0925rem .165rem rgba(0, 0, 0, 0.19);
    border: none;
    text-align:left;
    
  
    .tds{
      word-break: break-all;
    padding: 10px;
    text-align: justify;
    border-top: 1px solid black;
    }
  }