@import '../../scss/colors.scss';
@import '../../scss/globals';

.kbl-table {

  overflow: hidden;
  border-radius: $border-radius;
  box-shadow: 0 .0925rem .165rem rgba(0, 0, 0, 0.19);
  border: none;


  .kbl-thead {
    background: $palette-2;
    border-bottom: 1px solid $color-light-grey;
    color: white;

  
  }


  tr {
    border-bottom: 1px solid $color-light-grey;

    &:last-child {
      border-bottom: none!important;
    }
  }
}

.table-responsive {
  padding: 5px 2px;
  border: none;
  height: 600px;
}


.pagination {
    margin: 15px auto;
    list-style: none;
    outline: none;
    display: inline-flex;
    padding-left: 0;
    margin-top: .5rem;
    margin-bottom: .5rem; 

  }
  .pagination > .active > a{
    background-color: #47ccde ;
    /* border-color: #47ccde ; */
    color: #fff;
  }
  .pagination > li > a{
    padding: .375rem .75rem;
    margin: 2px;
    position: relative;
    display: block;
    color: #1890ff;
    font-weight: 600;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    z-index: 3;
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
   
  }
  .pagination > li > a, .pagination > li > span{
    color: #1890ff
  }
  .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset
  }
  .pagi {
    align-content: center;
  }

  .label-text {
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 600;
}

.input-text {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.ant-divider-horizontal {
  display: flex;
  clear: both;
  width: 100%;
  min-width: 100%;
  margin: 15px 0;
}




