$black: #011627;
$white: #FDFFFC;
$palette-1: #217ed5;
// $palette-2: #074ba5;
$palette-2: #1c82e2;
$palette-3: #FF9F1C;

$nav-outline: #eff;
$nav-outline-hvr: rgba(#217ed5,.4);

$text-ghost:black;
$text-light: #717171;
$text-main: #393939;
$text-hard: #212121;

$color-light-grey: #c9c9c9;

$palette-1-v-light: #abeef0;

$palette-1-bg: #e2fcfc;
$palette-2-bg: #ffe4eb;

$palette-1-light: #1890ff;
$palette-2-light: #ffe9ee;

$palette-1-dark: #1472ca;
$palette-2-dark: #ab1236;
$palette-3-dark: #bb781c;

$chip-bg: #def5ff;
$chip-font: #036778;

$palette-1-pastel: #a9fafc;
